h1 {
  background-color: aqua;
  color: black;
}

.search {
  display: flex;
  justify-content: right;
  flex-direction: row;
}

alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  width: 80%;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: auto;
  outline: none;
}